@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');


h1 {
    position: relative;
    top: 10px;
    left: 50px;
    width: 100px;
    color: #8EA4F4;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 76.3%; /* 24.416px */
    letter-spacing: -0.96px;
}

h2 {
    color: #000;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.96px;
    position: relative;
    width: 143px;
    height: 50px;
    transform: rotate(-90deg);
    flex-shrink: 0;
    top: 50px;
    margin-top: 90px;
    margin-left: 10px;
    flex-direction: column;
}

h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 140px;
    font-style: normal;
    font-weight: 400;
    line-height: 79.045%; /* 110.663px */
    letter-spacing: -2.8px;
    width: 350px;
    flex-direction: column;
}

h4 {
    font-family: 'Raleway', sans-serif;
    color: #0A1760;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.2px;
    margin-top: -100px;
    width: 350px;
    flex-direction: column;
    margin-left: -25px;
}

.color1 {
    color: #8EA4F4;
}

.color2 {
    color: #da4906;
}

.color3 {
    color: #02e233;
}

.color4 {
    color: #f5e506;
}

.color5 {
    color: #03f1f1;
}

.color6 {
    color: #f50b0b;
}

.color7 {
    color: #000000;
}

.boton {
    width: 135px;
    height: 57px;
    flex-shrink: 0;
    border: 2px solid #000;
    background: #FFF;
    margin-left: 250px;
    margin-bottom: 100px;
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.2px;
    flex-direction: column;
}

.flecha1 {
    width: 42px;
    height: 42px;
    flex-shrink: 0;
    margin-left: 530px;
    border: 1px solid #000;
    background: #FFF;
    font-size: 20px;
}

.flecha2 {
    width: 42px;
    height: 42px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #FFF;
    font-size: 20px;
    margin-left: -6px;
}

.foto {
    width: 1125px;
    height: 750px;
    flex-direction: column;
}