@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

h1 {
    color: #8EA4F4;
    font-size: 32px;
    font-family: 'Red Hat Text', sans-serif;
    line-height: 76.3%; /* 24.416px */
    letter-spacing: -0.96px;
    font-style: normal;
    font-weight: 700;
}